header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-image img {
    max-width: 200px;
    border-radius: 5%;
}

.profile-text h1 {
    margin-bottom: 0.5rem;
}

.profile-text h2 {
    color: #555;
    margin-top: 0;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    color: #f39c12;
    /* Change color on hover */
}